/*styling.css*/
body{
    font: Arial, Helvetica, sans-serif; 
     margin: 0;
     padding: 0;
     }
 
 *{
     box-sizing: border-box;
 }
 
 .container {
     width: 95%;
     margin: 0 auto;
     display: flex;
     flex-direction: column;
     height: 100vh;
 }

 .header{
    padding: 5px 0px;
    text-align: center;
    background: linear-gradient(to right, #e9e0ad 0%, #6c63f1 100%);
    background: -webkit-linear-gradient(to right, #e9e0ad 0%, #6c63f1 100%);
    background: -o-linear-gradient(to right, #e9e0ad 0%, #6c63f1 100%);
    background: -moz-linear-gradient(to right, #e9e0ad 0%, #6c63f1 100%);
    background: -ms-linear-gradient(to right, #e9e0ad 0%, #6c63f1 100%);
    border-radius: 20px;
    margin-top: 1px;
}

/* menu */

#menu{
    background: linear-gradient(to right, #e9e0ad 0%, #6c63f1 100%);
    background: -webkit-linear-gradient(to right, #e9e0ad 0%, #6c63f1 100%);
    background: -o-linear-gradient(to right, #e9e0ad 0%, #6c63f1 100%);
    background: -moz-linear-gradient(to right, #e9e0ad 0%, #6c63f1 100%);
    background: -ms-linear-gradient(to right, #e9e0ad 0%, #6c63f1 100%);
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    margin: 16px 0;
}

#menu a{
    padding: 0 30px;
    height: 30px;
    border-right: 1px solid #5d12e7; 
}

#menu a:last-child{
    border-right: none;
}

#menu a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: #5d12e7;
    line-height: 30px;
    -ms-transition: font-size 0.3s ease; 
    -webkit-transition: font-size 0.3s ease; 
    -moz-transition: font-size 0.3s ease; 
    -o-transition: font-size 0.3s ease; 
    transition: font-size 0.3s ease; 
}

#menu a:hover, #menu a.active{
    font-size: 20px;
    font-weight: bold;
    color: #B314DB;
}

#section{
    background: linear-gradient(to right, #e9e0ad 0%, #6c63f1 100%);
    background: -webkit-linear-gradient(to right, #e9e0ad 0%, #6c63f1 100%);
    background: -o-linear-gradient(to right, #e9e0ad 0%, #6c63f1 100%);
    background: -moz-linear-gradient(to right, #e9e0ad 0%, #6c63f1 100%);
    background: -ms-linear-gradient(to right, #e9e0ad 0%, #6c63f1 100%);
    padding: 30px;
    margin: 16px 0;
    border-radius: 20px;
}

.picture{
    height: 400px;
}

.link a:hover {
    background: #063ef7;
    color: #fff;
    font-weight: bold;
} 

/*sidebars*/
.sidebars{
    display: flex;
    flex-wrap: wrap;
}
.sidebarWrapper{
    padding: 5px;
    flex: 50%;
}
.sidebar{
    height: 100%;
    width: 100%;
    border: 1px solid #ebc807; 
    border-radius: 20px;
    background: linear-gradient(to right, #e9e0ad 0%, #6c63f1 100%);
    background: -webkit-linear-gradient(to right, #e9e0ad 0%, #6c63f1 100%);
    background: -o-linear-gradient(to right, #e9e0ad 0%, #6c63f1 100%);
    background: -moz-linear-gradient(to right, #e9e0ad 0%, #6c63f1 100%);
    background: -ms-linear-gradient(to right, #e9e0ad 0%, #6c63f1 100%);
    padding: 30px;
    margin: 16px 0;
}

.sidebar h3{
    color: #B314DB;
    font-size: 23px;
}

.sidebar picture {
    width: 100%;
}

.structure image{
    width: 10%;
}

/* Send me message */
* {
    box-sizing: border-box;
 }
 body {
    background: #facbb7;
 }
 .decor {
    position: relative;
    max-width: 400px;
    margin: 50px auto 0;
    background: white;
    border-radius: 30px;
 }
 .form-right-decoration {
    top: 60px;
    right: -30px;
 }
 .form-left-decoration:before, .form-left-decoration:after, .form-right-decoration:before, .form-right-decoration:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    background: white;
 }
 .form-left-decoration:before {
    top: -20px;
 }
 .form-left-decoration:after {
    top: 20px;
    left: 10px;
 }
 .form-right-decoration:before {
    top: -20px;
    right: 0;
 }
 .form-right-decoration:after {
    top: 20px;
    right: 10px;
 }
 
 .form-inner {
    padding: 50px;
 }
 .form-inner input, .form-inner textarea {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
 }
 .form-inner input[type="submit"] {
    margin-top: 30px;
    background: #f69a73;
    border-bottom: 4px solid #d87d56;
    color: white;
    font-size: 14px;
 }
 .form-inner textarea {
    resize: none;
 }
 .form-inner h3 {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #707981;
 }

/* footer */
.footer{
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    background: linear-gradient(to right, #e9e0ad 0%, #6c63f1 100%);
    background: -webkit-linear-gradient(to right, #e9e0ad 0%, #6c63f1 100%);
    background: -o-linear-gradient(to right, #e9e0ad 0%, #6c63f1 100%);
    background: -moz-linear-gradient(to right, #e9e0ad 0%, #6c63f1 100%);
    background: -ms-linear-gradient(to right, #e9e0ad 0%, #6c63f1 100%);
    padding: 30px;
    margin: 16px 0;
    border-radius: 20px;
}
